<!--<div class="content-home">-->
    <!--<div class="block-left">-->
        <!--<img src="../../assets/jules.png">-->
    <!--</div>-->
    <!--<div class="block-center">-->
        <!--<p>-->
            <!--Bienvenue,<br>-->
            <!--ici vous trouverez trois pages de datavisualisation issus des données de la veille presse du centre vernien.<br>-->
            <!--En effet, il recense depuis plusieurs années des milliers d’articles mentionnant Jules Verne de près ou de loin.<br>-->
            <!--Nous vous proposons de découvrir ces données de manière intéressante et ludique.<br>-->
            <!--Bon voyage.-->

        <!--</p>-->
    <!--</div>-->
    <!--<div class="block-right">-->
        <!--<img src="../../assets/logo_vernes.png">-->
    <!--</div>-->
    <!--<div class="block-under">-->
        <!--
    <!--</div>-->
<!--</div>-->
<div class="ui grid">
    <div class="nine wide column">
        <img class="img-left" src="../../assets/jules.png">
    </div>
    <div class="seven wide column">
        <div class="column">
            <div class="ui grid">
                <div class="ten wide column">
                    <p>
                        Bienvenue,<br>
                        ici vous trouverez trois pages de datavisualisation issus des données de la veille presse du centre vernien.<br>
                        En effet, il recense depuis plusieurs années des milliers d’articles mentionnant Jules Verne de près ou de loin.<br>
                        Nous vous proposons de découvrir ces données de manière intéressante et ludique.<br>
                        Bon voyage.
                    </p>
                </div>
                <div class="six wide column">
                    <img class="img-right" src="../../assets/logo_vernes.png">

                </div>
            </div>
        </div>
        <div class="row">
            <a class="link-rouage-1" routerLink=""><img class="button-rouage-1" src="../../assets/rouage_bouton.png"><p>text 1</p></a>
            <a class="link-rouage-2" routerLink=""><img class="button-rouage-2" src="../../assets/rouage_bouton_2.png"><p>text 1</p></a>
            <a class="link-rouage-3" routerLink=""><img class="button-rouage-3" src="../../assets/rouage_bouton.png"><p>text 1</p></a>
        </div>
    </div>
</div>