<div class="homepage-img-background"></div>

<img class="img-left" src="../../assets/jules.png">
<div class="ui grid">
    <div class="row">
        <div class="six wide column">
        </div>
        <div class="nine wide column">
            <div class="column">
                <div class="ui grid">
                    <div class="ten wide column">
                        <p class="text-homepage">
                            Bienvenue,<br>
                            ici vous trouverez trois pages de datavisualisation issues des données de la veille presse du centre vernien.<br>
                            En effet, il recense depuis plusieurs années des milliers d’articles mentionnant Jules Verne de près ou de loin.<br>
                            Nous vous proposons de découvrir ces données de manière intéressante et ludique.<br>
                            Bon voyage.
                        </p>
                    </div>
                    <div class="six wide column logo-homepage">
                        <img class="img-right" src="../../assets/logo_vernes.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="test">
        <a class="link-rouage-1" routerLink="/timeline"><img src="../../assets/rouage_bouton_1.png"></a>
        <a class="link-rouage-3" routerLink="/pellmell"><img src="../../assets/rouage_bouton_3.png"></a>
        <a class="link-rouage-2" routerLink="/charts"><img src="../../assets/rouage_bouton_2.png"></a>
    </div> -->
</div>