<div id="footer" class="ui inverted vertical footer segment">

    <div class="ui center aligned container">

        <div class="ui stackable inverted divided grid">

        </div>

        <div class="ui inverted section divider"></div>

        <div>

            <p>Projet réalisé dans le cadre de l'Hackathon Open Data Culture par Jean Nguion, Loïc Rabuteau, Johnathan Dodard et Chloë Gélineau.</p>

            <p>Données fournies par le centre Vernien, avec l'accompagnement de Cécile Naval.</p>

        </div>

        <div class="ui horizontal inverted small divided link list">

            <img class="footer-img" src="../../assets/lot_logo.png" height="20px" >

        </div>
    </div>
</div>