.firstCategorie{
    font-family: "Courier New"
}
.secondCategorie{
    font-family: "Helvetica"
}
.thirdCategorie{
    font-family: "Verdana"
}
.fourthCategorie{
    font-family: "Georgia"
}

#pellmell{
    /* background-image: url("../../assets/tentacule.png") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(243, 243, 243, 0); */
}