/* You can add global styles to this file, and also import other style files */
#footer{
    margin-top: 4%;
    bottom: 0 !important;
    position: fixed !important;
    width: 100%;
}

#row_homepage{
    height: 100%;
}


.rotation{
    display: inline-block;
    white-space: nowrap;

    transform: translate(0,100%) rotate(-90deg);
    transform-origin: 0 0;
    writing-mode: vertical-rl;
    text-orientation: sideways;
}
.content-home {
    width: 100%;
    height: 100%;
}

.img-left {
    width: 100%;
}

.img-right {
    width: 100%;
}

.link-rouage-1{
    position: absolute;
    width: 25%;
    top: 43%;
    left: 1%;
}
.link-rouage-2{
    position: absolute;
    width: 25%;
    top: 53%;
    left: 25%;
}
.link-rouage-3{
    position: absolute;
    width: 25%;
    top: 33%;
    left: 44%;
}
.link-rouage-1 img{
    width: 100%;
}
.link-rouage-2 img{
    width: 100%;
}
.link-rouage-3 img{
    width: 100%;
}