<div class="ui fixed inverted menu">
    <div class="ui container">
        <a routerLink="/" class="header item">
        <img class="logo" src="../../assets/logo_vernes.png">
        Jules Verne
      </a>
        <div class="ui simple dropdown item">
            Menu <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" routerLink="/">Homepage</a>
                <a class="item" routerLink="/charts">statistiques</a>
                <a class="item" routerLink="/pellmell">pêle-mêle de mots</a>
                <a class="item" routerLink="/excel">excel</a>
                <a class="item" routerLink="/timeline">frise chronologique</a>
            </div>
        </div>
    </div>
</div>