<h1 id="title">Jules en stat</h1>

<div class="ui inverted section divider"></div>
<h2>sujets</h2>
<div id="chart"></div>

<div class="ui inverted section divider"></div>
<div id="chart1"></div>

<div class="ui inverted section divider"></div>
<h2>simple mention sur l'auteur</h2>
<div id="chart3"></div>
<div class="ui inverted section divider"></div>
<h2>simple mention par Jean-Marc Ayrault sur l'ensemble des alertes sur la politique</h2>
<div id="chart4"></div>


<div class="ui inverted section divider"></div>